.row .course-item img{
   height:200px;
  
} 
.container .logo a  {
   font-size: 23px;
   padding-left: 10px;
   
}
.container .card .card-img {
   height: 320px;
}
.container .row .box {
   height: 200px;
}